<mat-tab-group>
    <mat-tab label="About us">
        <div>
            <h2>Support to training and employment programme for women</h2>
            <p>STEP Scheme aims to provide skills that give employability to women and to provide competencies and skill that enable women to become self-employed/entrepreneurs. The Scheme is intended to benefit women who are in the age group of 16 years and above across the country.</p>
            <p>The Support to Training and Employment Programme (STEP) was being implemented as per guidelines formulated, Minister of Women and Child Development Maneka Gandhi said during Question Hour.

                However, she said the Ministry did not maintain records of how many of the beneficiaries of the scheme had secured jobs, though she acknowledged that having such information would be important to understand the scheme's effectiveness.</p>
            <p>She said the scheme has covered 24,037 beneficiaries till February 20 of the current financial year.

                During 2013-14 period, 31,478 beneficiaries were covered while the number stood at 30,481 in the 2012-13 fiscal.
                
                STEP scheme aims to provide employability skills to women as well as provide competencies to enable them to become self-employed.
                
                Assistance under the scheme would be available in any sector, including agriculture, horticulture, food processing
        </div>
    </mat-tab>
    <mat-tab label="Guidelines"> About us </mat-tab>
    <mat-tab label="Training Sector">
        <div>
            <h2>Training Sector </h2>
            <ul>
                <li>Agriculture</li>
                <li>Tailoring</li>
                <li>Stiching</li>
                <li>Computer Learing</li>
            </ul>
        </div>
        
    </mat-tab>
    <mat-tab label="NGOs">
        <div>
            <h2>Non-Governmental Organizations (NGOs)</h2>
            <ul>
                <li>Action for Protection Of Wild Animals</li>
                <li>Alternative For Rural Movement</li>
                <li>Society for Children (SOCH)</li>
                <li>Aakash Association Of All Kinds Of Awareness Services For Human Being</li>
                <li>Aawaz Voluntary Organisation</li>
                <li>Abedkar Charitable Youth Trust</li>
            </ul>
        </div>
    </mat-tab>
    <mat-tab label="Registration">
        <div>
        <h2>Register</h2>
        <form>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" />
                
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">
                    Register
                </button>
            </div>
        </form>
    </div>
    </mat-tab>
    <mat-tab label="Status"> Status </mat-tab>
    <mat-tab label="FAQs">FAQs </mat-tab>
</mat-tab-group>
